:root {
  --header-height: 65px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  font-family: sans-serif;
}

html,
body,
#root {
  height: 100%;
}

#root {
  overflow: auto;
}
